In [103]:
import pandas as pd

In [104]:
from sklearn.ensemble import RandomForestClassifier

In [105]:
data = pd.read_excel("iris-train.xlsx")

In [106]:
data.head()

   sepallenght  sapalwidth  patallength  patalwidth        class
0          5.7         4.4          1.5         0.4  Iris-setosa
1          5.5         4.2          1.4         0.2  Iris-setosa
2          5.2         4.1          1.5         0.1  Iris-setosa
3          5.8         4.0          1.2         0.2  Iris-setosa
4          5.4         3.9          1.7         0.4  Iris-setosa

In [107]:
x = data.iloc[:,:-1]

In [108]:
y = data.iloc[:,-1]

In [109]:
y

0          Iris-setosa
1          Iris-setosa
2          Iris-setosa
3          Iris-setosa
4          Iris-setosa
            ...
111        Iris-setosa
112    Iris-versicolor
113     Iris-virginica
114    Iris-versicolor
115    Iris-versicolor
Name: class, Length: 116, dtype: object

In [110]:
model = RandomForestClassifier()

In [111]:
model.fit(x.values,y.values)

RandomForestClassifier()

In [112]:
predictions = model.predict([[6.8, 2.8, 4.8, 1.4]])

In [113]:
predictions

array(['Iris-versicolor'], dtype=object)

In [114]:
datatest = pd.read_excel("iris-test.xlsx")

In [115]:
datatest.head()

   sepallenght  sapalwidth  patallength  patalwidth            class
0          7.7         2.8          6.7         2.0   Iris-virginica
1          7.4         2.8          6.1         1.9   Iris-virginica
2          6.8         2.8          4.8         1.4  Iris-versicolor
3          6.5         2.8          4.6         1.5  Iris-versicolor
4          6.4         2.8          5.6         2.2   Iris-virginica

In [116]:
x_test = datatest.iloc[:, :-1]

In [117]:
predictions = model.predict(x_test.values)

In [118]:
predictions

array(['Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor'], dtype=object)